/EndRoundFriendlyFire/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/EndRoundFriendlyFire/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/EndRoundFriendlyFire/bin/Debug/Assembly-CSharp.dll
/EndRoundFriendlyFire/bin/Debug/Assembly-CSharp-firstpass.dll
/EndRoundFriendlyFire/obj/Debug/net5.0/EndRoundFriendlyFire.AssemblyInfo.cs
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.AssemblyInfo.cs
/EndRoundFriendlyFire/obj/Debug/net5.0/EndRoundFriendlyFire.AssemblyInfoInputs.cache
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.AssemblyInfoInputs.cache
/EndRoundFriendlyFire/obj/Debug/net5.0/EndRoundFriendlyFire.assets.cache
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.assets.cache
/EndRoundFriendlyFire/obj/Debug/net5.0/EndRoundFriendlyFire.csproj.AssemblyReference.cache
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.csproj.AssemblyReference.cache
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.csproj.CopyComplete
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.csproj.CoreCompileInputs.cache
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.csproj.FileListAbsolute.txt
/EndRoundFriendlyFire/obj/EndRoundFriendlyFire.csproj.nuget.dgspec.json
/EndRoundFriendlyFire/obj/EndRoundFriendlyFire.csproj.nuget.g.props
/EndRoundFriendlyFire/obj/EndRoundFriendlyFire.csproj.nuget.g.targets
/EndRoundFriendlyFire/bin/Debug/EndRoundFriendlyFire.dll
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.dll
/EndRoundFriendlyFire/obj/Debug/net5.0/EndRoundFriendlyFire.GeneratedMSBuildEditorConfig.editorconfig
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.GeneratedMSBuildEditorConfig.editorconfig
/EndRoundFriendlyFire/bin/Debug/EndRoundFriendlyFire.pdb
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.pdb
/EndRoundFriendlyFire/bin/Debug/EndRoundFriendlyFire.xml
/EndRoundFriendlyFire/obj/Debug/EndRoundFriendlyFire.xml
/EndRoundFriendlyFire/bin/Debug/Mirror.dll
/EndRoundFriendlyFire/bin/Debug/NorthwoodLib.dll
/EndRoundFriendlyFire/obj/project.assets.json
/EndRoundFriendlyFire/obj/project.nuget.cache
/EndRoundFriendlyFire/obj/project.packagespec.json
/EndRoundFriendlyFire/obj/rider.project.restore.info
